# Rename: terraform.tfvars.example → terraform.tfvars

# AWSのアクセスキー
aws_access_key = "AKIA_____________________"
aws_secret_key = "_______________________________"

# 各種リソースの名前のprefix
prefix = "Slack_AWS_billing_notification"

# リージョンを東京に設定
region = "ap-northeast-1"


# 請求レポートを保存しているバケット名
# bucket = "aws-billing-xxxxxxxxx"

# Slack WebhookのURL
# slack_webhook_url = "https://hooks.slack.com/services/*********/*********/************************"

# Slack 投稿先チャンネル
# format: "#channel-name"
# デフォルト（空文字）はWebhookのデフォルト値
# channel = "#AWS-notification"

# Slack 通知のユーザー表示
# デフォルト（空文字）はWebhookのデフォルト値
# 既知の問題: 半角スペース以降は無視
# username = "aws-billing"

# Slack 通知のアイコン
# format: ":icon_name:"
# デフォルト（空文字）はWebhookのデフォルト値
# icon_emoji = ":dollar:"
